.navi{
    background-color: rgb(9, 129, 69);
    margin: 0%
    
}

.navi a{
    color:white;
    font-size: 18px
}

.navi a:hover{
    color: black;
    font-weight: bold;
    border-radius: 6px;
    
    
}
.nav{
    background-color: #186db3;
    height: 60px;
    padding: 5px 2px 5px 2px;
    font-size: 20px;

}

.nav a{
    border-radius: 5px;
    color: #fff9f9;
}


.mid1{
    border: 1px solid rgb(212, 205, 205);
    min-height: 500px;
    margin: 0px;


}

.mid1 li{

}

.mid2{
    border: 1px solid rgb(201, 197, 197);
    min-height: 500px;
    margin: 0px
}

.mid3{
    border: 1px solid rgb(192, 188, 188);
    min-height: 500px;
    margin: 0px
}

.navi li{
    margin: 10px 0px 0px 40px;
    height: 100%;
    border-radius: 4px
}

.corosol{
    max-height: 100%;
}



.coroIMG img{
max-height: 400px;
min-height: 400px;
align-items: center;
width: 100%;
}


.logod{
    /* border: 1px solid rgb(55, 0, 255) */
/* position: absolute; */
/* margin: 240px 0px 0px 0px */

}
.lablogo{
    float: left;
    /* border: 1px solid red; */
    width: 20%;
    height:140px;
    /* opacity: 6px; */
}

.lablogo img{
    /* background-color: rgb(184, 188, 190) */
    height: 260px;
/* margin: 0px 0px 10px 2%; */
margin: 0px 0px 10px 5%;
/* opacity: 0.7; */
width: 100%;
/* position: absolute; */
/* margin: px 0px 0px 0px */

    
    
}

.dpt{
   float: left;
    width: 20%;
    height:140px;
margin: 0px 0px 10px 15%;
    
}

.dpt img{
    height: 260px;
margin: 0px 0px 10px 5%;
width: 100%;
    
}

.unilogo{
    float: right;
    /* border: 1px solid red; */
    width: 35%;
    height: 140px;
    margin: 50px 0px 0px 0px;
    /* opacity: 0.8; */
    
}

.unilogo img{
height: 170px;
margin: 0px 0px 10px 1%;
width: 100%;


}

.head{
    background-color: white
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(4, 107, 47); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav h3{
    text-decoration: underline;
    color: #49cc66
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff9f9;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #49cc66;
    text-decoration: underline
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  .side{
    margin: 2px 0px 10px 0px;
    font-size: 35px;
    color: aliceblue
  }

  .sideLi li{
    color: white;
    margin: 0px;
    
  }

  .side:hover{
      color: rgb(11, 83, 38)
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
